In [ ]:
# 자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요.
# ex) n=12345 -> [5,4,3,2,1]
# 1) 문자열로 캐스팅
# 2) 키 : 벨류 딕셔너리 형태로 변환
# 3) 키를 reversed형태로 전환
# 4) 키를 기준으로 리스트 추출

def solution(n):
    answer = []
    return answer

In [1]:
n = 12345
str_cast_number = str(n)# 자리수 단위로 뽑아내기 쉽게 형변환

In [2]:
str_cast_number

'12345'

In [4]:
dic_number = {i:string for i, string in enumerate(str_cast_number)}# enumerate() : 파라미터를 튜플로 만들어준다.
print(dic_number)

{0: '1', 1: '2', 2: '3', 3: '4', 4: '5'}

In [17]:
dic_number_reverse = dict(sorted(dic_number.items(), reverse=True))# 해당부분 keys와 items햇갈려서 한참을 고민했다.
dic_number_reverse

{4: '5', 3: '4', 2: '3', 1: '2', 0: '1'}

In [24]:
result = dic_number_reverse.values() # values 값을 리스트화

In [25]:
result = list(map(int, result)) # 문자열 값을 int값으로 형변환
result

[5, 4, 3, 2, 1]

In [30]:
def solution(n):
    str_cast_number = str(n)# 자리수 단위로 뽑아내기 쉽게 형변환
    dic_number = {i:string for i, string in enumerate(str_cast_number)}# enumerate() : 파라미터를 튜플로 만들어준다.
    dic_number_reverse = dict(sorted(dic_number.items(), reverse=True))# 해당부분 keys와 items햇갈려서 한참을 고민했다.
    result = dic_number_reverse.values() # values 값을 리스트화
    answer = list(map(int, result)) # 문자열 값을 int값으로 형변환
    return answer #values 값을 리스트화 문자열 값을 int값으로 형변환

In [31]:
solution(12345)

[5, 4, 3, 2, 1]

In [32]:
def solution(n):
    str_cast_number = str(n)
    dic_number = {i:string for i, string in enumerate(str_cast_number)}
    dic_number_reverse = dict(sorted(dic_number.items(), reverse=True))
    result = dic_number_reverse.values()
    answer = list(map(int, result)) 
    return answer

In [33]:
solution(12345)

[5, 4, 3, 2, 1]