In [4]:
# 배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하라.
array = [1,5,2,6,3,7,4]
commands = [[2,5,3],[4,4,1],[1,7,3]]
# 첫번째 포문에서 commands의 첫번째 차원의 길이를 돌린다.
# 0, 1, 2에 접근하여 각각의 command 명령어 0번 1번 2번 명령어를 꺼낸다.
# length에서 0, 1, 2에서 어떻게 꺼낼것인가.

In [55]:
answer=[]

for command_number_1 in range(len(commands)):
    temp_value = []
    for command_number_2 in commands[command_number_1]:
        temp_value.append(command_number_2)
    answer.append(sorted(array[temp_value[0]-1:temp_value[1]])[temp_value[2]-1])

[2, 5, 3]
[4, 4, 1]
[1, 7, 3]

[5, 6, 3]

In [22]:
b = sorted(array[2-1:5])
b

[2, 3, 5, 6]

In [41]:
range(len(commands[0])-1)

range(0, 2)

In [61]:
def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

# lambda 매개변수 : 표현식
# map(함수, 리스트)
# 리스트를 하나씩 꺼내서 함수를 적용시킨 다음 결과를 리스트로 담는다.
# lambda 함수로 array의 수정식을 짜고
# map을 사용해서 2차원 리스트를 하나씩 꺼내서 적용.

In [62]:
tmp = solution(array, commands)
tmp

[5, 6, 3]

In [68]:
tmp = list(map(lambda x: x[1], commands))
tmp

[5, 4, 7]